{% extends "accounts/accountbase.html" %} {% load static %} {% block body %}
<div class="container">
  <h2>Set New Password</h2>
  <form method="POST" action="#">
    {% csrf_token %}
    <label>New Password</label>
    <input
      type="password"
      name="pass1"
      placeholder="Enter new password"
      required
    />
    <label>Confirm Password</label>
    <input
      type="password"
      name="pass2"
      placeholder="Confirm new password"
      required
    />
    {% if messages %} 
    {% for message in messages %}
     {% if message.tags == 'error' %}
    <div class="text-danger" role="alert">{{message}}</div>
    {% else %}
    <div class="text-success" role="alert">{{message}}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <button type="submit">Reset Password</button>
    <div class="link">Back to <a href="{% url 'login_view' %}">Login</a></div>
  </form>
</div>

{% endblock body %}
