{% extends "base/base.html" %}
{% load static %}
{% block body %}
{% if messages %}
 {% for message in messages %}
   {% if message.tags == 'error' %}
   <div class="alert alert-danger" role="alert">
    {{message}}
</div>
 {% else %}
  <div class="alert alert-success" role="alert">
    {{message}}
  </div>
{% endif %}
{% endfor %}
{% endif %}

<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <a href="#"><img src="{{items.product_image.first.image.url}}" /></a>
              </div>
            </div>
            <!-- slider-product.// -->
            <div class="thumbs-wrap">
             {% for item in items.product_image.all %}
              <a href="#" class="item-thumb">
                <img src="{{item.image.url}}"
              /></a>
              <a href="#" class="item-thumb">
                <img src="{{item.image.url}}"
              /></a>
              {% endfor %}
            </div>
            <!-- slider-nav.// -->
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
          <article class="content-body">
            <h2 class="title">{{items.product_name}}</h2>

            <div class="rating-wrap my-3">
              <ul class="rating-stars">
                <li style="width: 80%" class="stars-active">
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </li>
              </ul>
              <small class="label-rating text-muted">132 reviews</small>
              <small class="label-rating text-success">
                <i class="fa fa-clipboard-check"></i> 154 orders
              </small>
            </div>
            <!-- rating-wrap.// -->

            <div class="mb-3">

              <var class="price h4">Rs 
                {% if updated_price %}
                 {{updated_price}}
                  {% else %}
                {{items.price}}
                {% endif %}
            </var>
              <span class="text-muted">/per </span>
            </div>
            <!-- price-detail-wrap .// -->

            <p>
             {{items.product_description}}
            </p>

            <dl class="row">
              <dt class="col-sm-3">Model#</dt>
              <dd class="col-sm-9">Odsy-1000</dd>


              <dt class="col-sm-3">Delivery</dt>
              <dd class="col-sm-9">All over the world</dd>
            </dl>

            <hr />
          <form method="get" action="{% url 'add_to_cart' items.uid %}" class="form">
            <div class="form-row">
              <div class="form-group col-md flex-grow-0">
                {% comment %} <div class="input-group mb-3 input-spinner">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-light"
                      type="button"
                      id="button-plus"
                    >
                      +
                    </button>
                  </div>
                  <input type="text" class="form-control" value="1" />
                  <div class="input-group-append">
                    <button
                      class="btn btn-light"
                      type="button"
                      id="button-minus"
                    >
                      −
                    </button>
                  </div>
                </div>
              </div> {% endcomment %}
              <!-- col.// -->

            {% if items.size_varient.all %}
              <div class="form-group col-md">
                <label>Select size</label>
                <div class="mt-1">
                  {% for item in items.size_varient.all  %}
                  <label
                     class="custom-control custom-radio custom-control-inline"
                    >
                    <input
                      type="radio"
                      name="varient"
                      value="{{item.uid}}"
                      class="custom-control-input"
                      onchange="get_correct_price('{{item.size_name}}')"
                      {% if selected_size == item.size_name %} checked{% endif %}
                      required
                    />
                     <div class="custom-control-label">{{item.size_name}}</div>
                  </label>
                 {% endfor %}
              </div>
            </div>
            {% endif %}
            <div style="display: flex; gap: 10px; margin-top: 15px">
                  <button
                    type="submit"
                    name="action"
                    value="add_to_cart"
                    class="btn btn-outline-primary mt-4"
                  >
                    Add to Cart
                  </button>

                  <button
                    type="submit"
                    name="action"
                    value="buy_now"
                    onclick="submitForm('buy_now')"
                    class="btn btn-primary mt-4 mx-3 "
                   >
                  {% comment %} product.uid ==> for specific product that we select 
                   varient.uid==> for size of product
                   {% endcomment %}
                   {% comment %} from product view in product  {% endcomment %}
                  <a href="{% url 'buy_now' items.uid %}?varient={{varient.uid}}" class="a text-white"> 
                    Buy Now
                   </a>
                  </button>
                </div>
          </form>
            
          </article>
          <!-- product-info-aside .// -->
        </main>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
</section>

<script>
     function get_correct_price(size) {
    // to add size on url when we click the size
    window.location.href = window.location.pathname + `?size=${size}`;
  }
</script>
{% endblock body %}